.header {
    padding-top: 30px;
    position: relative;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        @media (max-width: 500px) {
            img {
                height: 50px;
            }
        }
    }

    &__login {
        position: absolute;
        right: 30px;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        width: 167px;
        height: 53px;
        border-radius: 62px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;

        transition: all 0.3s;

        @media (max-width: 400px) {
            width: 70px;
        }

        span {
            font-weight: 600;
            font-size: 20px;
            color: #fff;

            transition: all 0.3s;

            @media (max-width: 400px) {
                display: none;
            }
        }

        svg {
            @media (max-width: 400px) {
                height: 26px;    
            }

            path {
               transition: all 0.3s;
            }
        }

        &:hover {
            // border: 1px solid rgb(255, 0, 172);

            span {
                // color: rgb(193, 59, 255);
                color: rgb(255, 0, 172);
            }

            svg path {
                fill: rgb(255, 0, 172);
            }
        }
    }
}

/* Main */

.main {

    &__container {
        display: flex;
        position: relative;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 650px;
        height: 775px;

        @media (max-width: 1270px) {
            height: 665px;
            flex: 0 1 576px;
            margin-left: 80px;
        }

        @media (max-width: 1060px) {
            margin-left: 20px;
        }

        @media (max-width: 992px) {
            height: 680px;
            flex: 1;
            margin-left: 0;
        }

        @media (max-width: 768px) {
            height: auto;
            align-items: center;
        }

        h1 {
            padding-top: 170px;
            font-size: 48px;
            font-weight: 900;
            line-height: 125%;
            letter-spacing: 2.2px;
            color: #fff;

            @media (max-width: 1270px) {
                padding-top: 100px;
                font-size: 45px;
            }

            @media (max-width: 992px) {
                padding-top: 190px;
                font-size: 32px;
            }

            @media (max-width: 768px) {
                padding-top: 34px;
                text-align: center;
            }

            @media (max-width: 500px) {
                font-size: 24px;
            }
        }

        p {
            padding-top: 56px;
            font-size: 28px;
            font-weight: 500;
            line-height: 135%;
            color: #fff;

            @media (max-width: 1270px) {
                font-size: 26px;
            }

            @media (max-width: 992px) {
                font-size: 22px;
            }

            @media (max-width: 768px) {
                text-align: center;
                padding-top: 22px;
            }

            @media (max-width: 500px) {
                font-size: 18px;
            }
        }
    }

    &__text {
        @media (max-width: 992px) {
            position: relative;
            z-index: 5;
            max-width: 450px;        
        }
    }

    &__right {
        position: absolute;    
        top: 12px;
        right: 84px;

        @media (max-width: 1060px) {
            right: 56px;
        }

        @media (max-width: 992px) {
            right: 27px;
        }

        @media (max-width: 768px) {
            position: relative;
            right: 0;
            top: 0;
        }
    }

    &__img {
        position: relative;

        z-index: 5;

        @media (max-width: 1270px) {
            margin-left: 40px;
            margin-top: 40px;

            img {
                width: 300px;
            }
        }

        @media (max-width: 992px) {
            img {
                width: 250px;
            }
        }

        @media (max-width: 768px) {
            margin: 20px 0;
        }
    }

    &__decoration {
        position: absolute;
        top: 8px;
        left: -258px;

        @media (max-width: 1270px) {
            top: 0px;
            left: -175px;

            img {
                width: 780px;
            }
        }

        @media (max-width: 992px) {
            left: -140px;

            img {
                width: 650px;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        gap: 15px;
        

        @media (max-width: 768px) {
            width: 90%;
        }

        @media (max-width: 500px) {
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}

.buttons {
    &__try, &__how {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 65px;
        font-size: 20px;
        font-weight: 600;
        line-height: 125%;
        color: #fff;

        border-radius: 62px;
        box-sizing: border-box;

        @media (max-width: 768px) {
            height: 50px;
            font-size: 16px;
            flex: auto;
        }
    }

    &__try {
        flex: 0 1 315px;

        background: linear-gradient(170.41deg, rgba(170, 0, 250, 0.46) 25.842%,rgba(238, 14, 150, 0.46) 101.636%),rgb(170, 0, 250);
        
        span {
            filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
            transition: all 0.2s;
        }

        &:hover {
            span {
                filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.7));
            }
        }
    }

    &__how {
        gap: 16px;
        flex: 0 1 306px;

        border: 1px solid rgb(255, 255, 255);

        span {
            transition: all 0.3s;
        }

        &:hover {
            span {
                color: rgb(244, 42, 78);
            }
        }
    }
}

// 1680
// 1270
// 1060
// 992
// 768
// 576
// 500
